.leftlink,
.rightlink {
  font-size: 1rem;
  line-height: 1;
  color: #FFF;
  text-decoration: none;
  padding: 1rem;
}

.leftlink:hover,
.leftlink:focus,
.rightlink:hover,
.rightlink:focus {
  height: 3rem;
  color: #3D3D3D;
  background: #E5D224;
  outline: none;
  box-shadow: none;
}

.leftlink {
  float: left;
}

.rightlink {
  float: right;
}


@media screen and (max-width: 40em) {
  .leftlink,
  .rightlink {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem 0.5rem;
  }
}