.leftlink,
.rightlink {
  font-size: 1rem;
  line-height: 1;
  color: #FFF;
  text-decoration: none;
  padding: 1rem;
}

.leftlink:hover,
.leftlink:focus,
.leftlink:disabled,
.rightlink:hover,
.rightlink:focus,
.rightlink:disabled {
  height: 3rem;
  color: #3D3D3D;
  background: #E5D224;
  outline: none;
  box-shadow: none;
}

.leftlink {
  float: left;
}

.rightlink {
  float: right;
}
