.navbar { /* stylelint-disable */
  width: 100%;
  height: 3.5rem;
  background: #3D3D3D;
  color: #FFF;
  padding: 1rem;
}

.logo {
  float: left;
  color: #E5D224;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 1rem 0 0;
}