.cariInternship { /* stylelint-disable */
  min-height: calc(100vh - 3rem);
  padding: 5rem 1rem 1rem;
}

.sortBySelect {
  margin-top: 0.5rem;
}

.sectionTitle { /* stylelint-disable */
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin-bottom: 1rem;
}