.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.contentContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.testimonyContainer {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 5rem;
}

.testimonyContentContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(302deg, rgba(234, 199, 8, 0.77), rgba(221, 191, 27, 0.81) 52%, rgba(255, 220, 32, 0.95));
  opacity: 0.5;
}

.video {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}

.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  text-align: center;
}

.centralize {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 25rem;
  max-width: 50%;
  height: auto;
  margin-bottom: 1.5rem;
}

.tagline {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #FFFFFF;
}

.blackButton {
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFF;
  background: linear-gradient(257deg, #40403c, #292929);
  padding: 1rem 5rem;
  border-radius: 3rem;
  margin-top: 2rem;
}

.blackButton:hover,
.blackButton:focus,
.blackButton:active {
  background: #333333;
}

.content {
  margin-top: 100vh;
}

.secondPanel {
  width: 100%;
  padding: 10rem 0;
  text-align: center;
  background: linear-gradient(234deg, #40403c, #090908);
  color: #FFFFFF;
}

.secondPanel h1 {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 2rem;
}

.thirdPanel {
  width: 100%;
  padding: 2rem 0;
}

.thirdPanel h3 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.thirdPanel img {
  height: 3rem;
  width: auto;
  margin: 2rem auto;
  object-fit: contain;
}

.fourthPanel {
  background: linear-gradient(253deg, #e0d022, #fada2c);
  color: #232321;
  padding: 2rem 0;
}

.fourthPanel h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 3rem 0;
}

.testimonyText {
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1;
  margin: 0 0 3rem;
}

.testimonyPerson {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.testimonyPicture {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  object-fit: cover;
  display: inline-block;
  float: left;
}

.testimonyCred {
  display: inline-block;
  float: left;
  text-align: left;
}

.testimonyName,
.testimonyPosition {
  margin-left: 1rem;
}

.testimonyName {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.testimonyPosition {
  font-size: 0.75rem;
}

.testimonyDivider {
  width: 10%;
  height: 1px;
  background: #232321;
  margin: 2rem auto;
}

.circleSelected,
.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1.5rem;
  margin: 0 1rem;
}

.circle {
  background: #ccb018;
}

.circle:disabled {
  background: #65570e;
}

.nextButton,
.prevButton {
  position: absolute;
  top: 50%;
  font-size: 2rem;
}

.nextButton {
  right: -2rem;
}

.prevButton {
  left: -2rem;
}

@media screen and (max-width: 40em) {
  .heroContent {
    padding: 0 1rem;
  }

  .tagline {
    font-size: 1.25rem;
  }

  .blackButton {
    font-size: 1rem;
    padding: 1rem 3.5rem;
  }

  .secondPanel,
  .thirdPanel,
  .fourthPanel {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .secondPanel {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .secondPanel h1 {
    font-size: 1.5rem;
  }

  .thirdPanel h3 {
    font-size: 2rem;
  }

  .thirdPanel img {
    padding: 0.5rem;
  }

  .fourthPanel h3 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .testimonyText {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 4rem;
    font-weight: 400;
  }

  .testimonyPerson {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    transform: none;
    text-align: center;
  }

  .testimonyPicture {
    width: 6rem;
    height: 6rem;
    margin-left: 50%;
    transform: translateX(-3rem);
    float: none;
    display: block;
  }

  .testimonyCred {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .testimonyName,
  .testimonyPosition {
    margin-left: 0.5rem;
  }

  .testimonyName {
    font-size: 1rem;
  }

  .testimonyPosition {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 64em) {
  .heroContent {
    padding: 0 1rem;
  }

  .tagline {
    font-size: 1.25rem;
  }

  .blackButton {
    font-size: 1rem;
    padding: 1rem 3.5rem;
  }

  .secondPanel,
  .thirdPanel,
  .fourthPanel {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .secondPanel {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .secondPanel h1 {
    font-size: 1.5rem;
  }

  .thirdPanel h3 {
    font-size: 2rem;
  }

  .thirdPanel img {
    padding: 0.5rem;
  }

  .fourthPanel h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .testimonyText {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0 0 2rem;
  }

  .testimonyPerson {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    transform: none;
    text-align: center;
  }

  .testimonyPicture {
    width: 6rem;
    height: 6rem;
    margin-left: 50%;
    transform: translateX(-3rem);
    float: none;
    display: block;
  }

  .testimonyCred {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .testimonyName,
  .testimonyPosition {
    margin-left: 0.5rem;
  }

  .testimonyName {
    font-size: 1rem;
  }

  .testimonyPosition {
    font-size: 0.75rem;
  }
}